@{
    ViewBag.Title = "Customers";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customers</title>
    <link href="~/Content/Master.css" rel="stylesheet" type="text/css" />
    
</head>
<body>
    <div id="div1">
        <p id="p1">
            <label id="username">UserName</label>
            <label id="logout">Logout</label>
        </p>
        <label id="lbmansys">Management System</label>
        <span id="span1">
            <label id="lbcustomers" class="tablb activetab">Customers</label>
            <label id="lbcustomerroles" class="tablb nonactivetab">Customer Roles</label>
        </span>
    </div>
    <div id="partialContent">
        @Html.Action("CustomersPart", "Home")
    </div>    
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/Master.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/LoginScript.js"></script>
</body>
</html>

